.container {
    width: 500px;
    height: 500px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.item {
    width: 100px;
    height: 100px;
    background-color: green;
    margin: 5px;
}

.container-2 {
    width: 500px;
    height: 500px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}




/* .container  {
    display: flex;
    flex-direction: row;
    width: 500px;
    height: 500px;
    background-color: black;
}

.item {
    width: 100px;
    height: 100px;
    background-color: blue;
    color: white;
    margin: 10px;
}

.container-2 {
    display: flex;
    flex-direction: row-reverse;
    width: 500px;
    height: 500px;
    background-color: black;
}

.item-2 {
    width: 100px;
    height: 100px;
    background-color: yellow;
    color: black;
    margin: 10px;
}

.container-3 {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    background-color: black;
}

.item-3 {
    width: 100px;
    height: 100px;
    background-color: red;
    color: white;
    margin: 10px;
}


body{
    margin: 0;
}

div {
    width: 100px;
    height: 100px;
    color: white;
    background-color: black;
}

.transition:active {
    width: 300px;
    height: 300px;
    transition: 1s 0.5s;
}


.container {
    width: 500px;
    height: 500px;
    background-color: yellowgreen;
}

.box {
    width: 100px;
    height: 100px;
}

.item-1 {
    position: relative;
    left: 50px;
    top: 30px;
    background-color: red;
}

.item-2 {
    position: fixed;
    right: 30px;
    bottom: 100px;
    background-color: blue;
}

.item-3 {
    position: absolute;
    right: 100px;
    top: 100px;
    background-color: blueviolet;
}

.container {
    position: relative;
}

.box {
    width: 100px;
    height: 100px;
    border-radius: 500px;
}

.item-1 {
    position: absolute;
    background-color: rgb(6, 133, 212);
}

.eyes-1 {
    z-index: 2;
    width: 20px;
    height: 20px;
    border-radius: 500px;
    position: absolute;
    background-color: black;
    top: 20px;
    left: 20px;
}

.eyes-2 {
    z-index: 1;
    width: 40px;
    height: 40px;
    border-radius: 500px;
    position: absolute;
    background-color: white;
    top: 10px;
    left: 20px;
}

.item-2 {
    background-color: rgb(34, 84, 202);
    position: relative;
    left: 60px;
    top: 40px;
}

.item-3 {
    background-color: navy;
    position: relative;
    left: 100px;
    top: -10px;
}

.item-4 {
    background-color: rgb(194, 205, 253);
    position: relative;
    left: 150px;
    top: -100px;
}

.item-5 {
    z-index: 1;
    background-color: rgb(3, 107, 123);
    position: relative;
    left: 210px;
    top: -180px;
}


.grass {
    position: fixed;
    width: 400px;
    height: 150px;
    top: 100px;
}  */

