/* .container {
    width: 500px;
    height: 500px;
    display: flex;
}

.box {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    background-color: black;
    margin: 10px;
    border-radius: 5%;
}

@media screen and (max-width: 700px) {
    .box {
        background-color: skyblue;
    }
    .container {
        display: block;
    }
} */



/* @media screen and (min-width: 500px) {
    body {
        background-color: skyblue;
    }
}

@media screen and (max-width: 300px) {
    body {
        background-color: orange;
    }
}

@media screen and (max-height: 300px) {
    p {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}

@media screen and (min-height: 500px) {
    p {
        background-color: green;
    }
} */

:root {
    --nav-height-lg: 100px;
    --nav-height-sm: 60px;
  }

  body {
    margin: 0;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    font-weight: 700;
    justify-content: center;
    align-items: center;
  }

  /* HEADER */
  header {
    width: 100%;
    height: var(--nav-height-lg);
    z-index: 100;
    position: fixed;
  }

  /* 768px 보다 클때의 header */
  header .inner {
    background-color: lightblue;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  /* LOGO */
  header .inner .logo {
    color: white;
    font-size: 30px;
    position: absolute;
  }

  header .inner .menu li {
    margin: 10px;
  }

  /* 미디어 쿼리 작성 768px 이하일 때  
  미디어 쿼리 내에서 선택자 통일해서 지정해 줘야. (선택자 우선순위 때문)*/
  @media screen and (max-width: 768px) {
    header {
      height: var(--nav-height-sm);
      /* position: fixed; */
    }

    header .inner {
      /* 원래 코드 */
      /* justify-content: center;
      display: flex; */
      
      /* 수정한 코드 */
      display: block;
    }

    header .inner .logo {
      text-align: center;
      position: static;   /* 줬던 포지션을 리셋하고 싶으면 디폴트값을 주면 된다. */
      height: var(--nav-height-sm); /* 또는 height: 100%, 이글루가 헤더의 전체 높이를 차지하게 한다.*/
      line-height: var(--nav-height-sm); /* 세로 가운데 정렬 */
    }

    header .inner .menu {
      width: 100vw;
      flex-direction: column; /*또는 text-align:center;*/
      /* 원래 코드 / 수정한 코드 -> margin 주석 */
      /* margin-top: 225px; */
      background-color: rgb(230, 243, 245);
    }

    header .inner .menu li {
      font-weight: 400;
    }
  }

  /* 메뉴 클래스 요소들은 중앙 정렬하고 이글루 로고만 좌측으로 밀기 위해서는
  일단 inner에 가로세로 중앙 정렬해 주고, logo에 position:absolute 적용하여 left 주기(부모 요소에 position값 줘야 적용됨) */
