<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
  </head>
  <body>
    <h2>MVC 패턴과 MYSQL 연결</h2>
    <a href="/visitors">방명록 남기기</a>
  </body>
</html>