:root {
  --height-header: 80px;
}

* {
  box-sizing: border-box;
}

main {
  margin-top: var(--height-header);
}

.Header {
  top: 0;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: var(--height-header);
  width: 100%;
  background-color: rgb(0, 74, 0);
  padding: 0 20px;
}

.Header > nav {
  display: flex;
}

.Header > nav > div {
  margin-left: 15px;
}

.photos {
  width: 300px;
  height: 300px;
}
