/* BEM 네이밍 규칙 */
/* .FuncComponent__test-css--active {
  color: green;
} */

.test-css {
  background-color: yellow;
  font-size: 30px;
}

.Section__section {
  margin-bottom: 20px;
  border: 2px solid blue;
}

.Section__title {
  color: red;
}
