@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.chat-container {
  width: 320px;
  min-height: 500px;
  background-color: rgb(248, 231, 169);
  padding: 6px 10px;
}

.chat-container .list {
  margin-top: 5px;
}

.list > .content {
  display: inline-block;
  padding: 5px 12px;
  border-radius: 15px;
}

.chat-container .my-chat {
  text-align: right;
}

.chat-container .my-chat .content {
  font-family: 'GangwonEdu_OTFBoldA';
  background-color: rgb(73, 109, 73);
  color: white;
  font-size: 18px;
}

.chat-container .other-chat {
  text-align: left;
}

.chat-container .other-chat .content {
  background-color: white;
  font-family: 'GangwonEdu_OTFBoldA';
  font-size: 18px;
}

.chat-container .notice {
  color: rgb(88, 88, 88);
  text-align: center;
  margin: 13px 10px;
  font-family: 'GangwonEdu_OTFBoldA';

}

.input-container {
  width: 320px;
  display: flex;
  justify-content: space-between;
}

.input-container > input {
  flex-grow: 1;
}
