@mixin larva-body($color, $top, $left) {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  background-color: $color;
  top: $top;
  left: $left;
}

@mixin larva-eye($size, $color) {
  border-radius: 50%;
  width: $size;
  height: $size;
  background-color: $color;
}

.larva {
  position: relative;
}

.eye-white {
  @include larva-eye(40px, white);
  top: 17px;
  left: 20px;
  z-index: 15;
  position: relative;
}

.eye-black {
  @include larva-eye(20px, black);
  top: 7px;
  left: 5px;
  z-index: 20;
  position: absolute;
}

.body1 {
  @include larva-body(rgb(0, 0, 166), 100px, 100px);
}

.body2 {
  @include larva-body(rgb(36, 61, 206), 150px, 160px);
}

.body3 {
  @include larva-body(rgb(52, 118, 231), 190px, 200px);
}

.body4 {
  @include larva-body(rgb(47, 146, 233), 240px, 220px);
}

.body5 {
  @include larva-body(rgb(140, 191, 253), 280px, 280px);
  z-index: 10;
}

.larva .grass {
  position: absolute;
  top: 220px;
  left: 0;
  width: 600px;
}

@mixin circle($color) {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: $color;
}

// 문자 보간
@mixin animation($id, $pos) {
  @keyframes #{$id} {
    0% {
      top: 0;
      left: 0;
    }
    25% {
      top: 0;
      left: $pos;
    }
    50% {
      top: $pos;
      left: 0;
    }
    75% {
      top: 0;
      left: $pos;
    }
    100% {
      top: 0;
      left: 0;
    }
  }
}

.circle {
  position: relative;
  animation-duration: 2s;
  animation-iteration-count: infinite;

  & .circle1 {
    @include circle(pink);
    @include animation(1, 100px);
  }

  & .circle2 {
    @include circle((yellow));
    @include animation(1, 150px);
  }

  & .circle3 {
    @include circle(green);
    @include animation(1, 200px);
  }
}
