<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <!-- 서버에서 선언한 key값을 ejs 문법을 사용해 받아서 브라우저상에 노출시킬 수 있다. -->
    <%=name%>(<%=email%>) 님, 환영합니다.
  </body>
</html>