.box {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: red;
    animation: movetoright 2s linear 1s infinite alternate;
}

@keyframes movetoright {
    /* from {
        left: 0px;
    }

    to {
        left: 100px;
    } */
    0% {
        left: 50px;
    }
    25% {
        right: 30px;
    }
    100% {
        left: 100px;
    }
}