
/* 태그 선택자 */
/* div {
    background-color: aqua;
} */

/* 클래스 선택자 */
.orange {
    color: orange;
}

.bg-red {
    background-color: blue;
}

/* 아이디 선택자 */
#red {
    color: red;
}

#list_1 {
    color: violet;
}

/* 하위 선택자 */
/* div .apple {
    color: rgb(199, 87, 87);
} */

/* 자식 선택자 */
div > .apple {
    color: rgb(199, 87, 87);
}

/* 인접 형제 선택자 */
h1 + ul {
    color: blue;
}

/* 일반 형제 선택자 */
h1 ~ ul {
    color: blue;
}